@media only screen and (min-width: 32.5em) {
    .container {
        /* margin: 150px 200px; */
        margin: 10% 10%;
        border-radius: 15px;
    }
    /* --------------------Card head----------------------------- */
    .head {
        border-radius: 15px 15px 0 0;
        flex-direction: row;
    }
    h1 {
        font-size: 50px;
        margin-top: 50px;
    }
    img {
        width: 130px;
        height: 130px;
        margin: 10px 0; 
    }
    /* --------------------Card body----------------------------- */
    .card {
        padding: 10px 20px;
    }
    h2 {
        text-align: left;
    }
    .card li {
        padding: 0;
    }
    /* -------------------Card footer---------------------------- */
    .footer {
        border-radius: 0 0 15px 15px;
    }
}