element {
}
html {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
* {
  font-family: 'Gugi';
}