element {
}
body {
  max-width: 900px;
  margin: 0 auto;
}
body {
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}