element {
}
body {
  max-width: 900px;
  margin: 0 auto;
}
body {
  margin: 0;
}
<style>
@import url('https://fonts.google.com/specimen/Merriweather?query=merr');
</style> 
{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}