@media only screen and (min-width: 32.5em) {

nav button {display: none;}

nav ul {
	display: flex;
	margin-left: 2vw;
	border-right: 1px solid rgba(0,0,0,0.3);
}

nav ul li a {
	border: none;
	border-right: 1px solid rgba(0,0,0,0.3);
}

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .wrapper {
        display: flex;
      }
      
      .wrapper > div {
        flex: 1;
      }
      /* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}