@media only screen and (min-width: 36.4em) {
    /* ----------------header-------------------------- */
    #formatted-date {
        padding: 5px;
    }
    /* -----------------main--------------------------- */
    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 40vh 20vh 300px 160px 250px;
        gap: 10px;
    }
    /* hero */
    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero img {
        width: 100%;
        height: 370px;
        object-fit: cover;
    }
    .hero button {
        margin-right: 20px;
        bottom: 40px;
    }
    .hero h2 {
        font-size: 35px;
    }
    /* news */
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /* spotlight */
    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 280px;
        margin: 0;
    }
    .spotlight_1 {
        border-bottom: none;
    }
    .spotlight_1 h2 {
        font-size: 20px;
    }
    .spotlight_1 img {
        width: 150px;
    }
    /* join */
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
        background-color: #f4e9e3;
        text-align: center;
        padding: 15px;
    }
    .join button {
        font-family: "poppins";
        border: none;
        background-color: #225485;
        color: #fefefe;
        padding: 5px 15px;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .join button:hover {
        background-color: #d59c41;
        color: #225485;
    }
    .join p {
        margin-top: 20px;
    }
    /* weather */
    .weather {
        background-color: #f4e9e3;
    }
    .weather_title {
        gap: 10px;
    }
    .current_weather {
        font-size: 15px;
    }
    .weather_title h2 {
        font-size: 20px;
    }
    /* --------------------------footer-------------------------------- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 20px;
    }
    .information {
        text-align: left;
    }
    .footer_logo {
        width: 100px;
    }
    .contact_info {
        text-align: right;
    }
    .footer_line {
        grid-column: 1/3;
    }
    .weather_data {
        grid-column: 1/3;
    }
}