main {
    display: grid;
    grid-template-columns: 1fr;
}
.place-holder {
    background-color: gray;
    padding: 10px;
    margin: 20px;
    margin-top: 5px;
}
.wrapper {
    display: flex;
  }
  
  .wrapper > div {
    flex: 1;
  }      
footer {
    background-color: gray;
}
h1 {
    justify-self: start;
}
    header {
        grid-template-columns: auto 54.8px;
    }
    h2 {
        text-align: center;
    }
    ul {
        padding-left: 20px;
        height: 80%;
    }
    /* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* small css example
*/
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: blue;
}
nav {
    background-color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: green;
    border-top: 1px solid rgba(0,0,0,0.5);

    nav : li a:hover: {
        background-color: rgba(0,0,0,0.3);
    
    nav ul li.active a {
        background-color: rgba(0,0,0,0.2);
        color: white;
    }
    nav ul li.hover a {
        background-color: rgba(0,0,0,0.2);
    }

    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}

    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: none;}