table {
    width: 350px;
    margin: 100px;
    box-shadow: 10px 15px 13px #70A288;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table,
thead,
tr,
th,
td {
    border: 1.9px solid #DAB785;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th,
td {
    font-family: 'Gugi', sans-serif;
    font-size: 1.2rem;
}

th {
    color: white;
    background-color: #04395E;
    font-weight: bolder;
}

thead th {
    background-color: #031D44;
    color: #D5896F;
    font-size: 2rem;
    font-weight: bold;
}

tr {
    background-color: white;
}

.novgoal {
    background-color: #031D44;
}

b:only-child {
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tfoot td {
    font-size: 1rem;
    background-color: #031D44;
    color: #D5896F;
}