body {
    background-color: #04395E;
    color: #D5896F;
    font-family: "Gugi", sans-serif;
    display: grid;
    align-items: center;
}
p {
    text-decoration: underline;
    text-align: center;
}
picture img {
    width: 300px;
    height: 200px;
    animation: img-come-in 8s;
    padding-left: 400px;
}
@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
   }
    to {
        transform: scale(1);
        opacity: 1;
   }
}