@media (min-width: 1000px) {

    .main-logo h1 {
        font-size: 2em;
    }

    html {
        max-width: 1100px;
        margin: auto;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        padding: 5%;
    }

    .navigation li:first-child {
        display: none;
    }

    .social {
        display: block;
    }

    .social img {
        width: 50px;
    }

    .main-logo img {
        width: 175px;
        padding: 20px 5px 5px;
    }

    .main-logo section {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    footer p br:nth-of-type(3) {
        display: none;
    }

    footer img {
        width: 100px;
    }

    main {
        grid-template-rows: 300px 300px 300px;
    }

    #hero {
        grid-column: 2/4;
        grid-row: 1/3;
        margin-bottom: 2px;
        margin-top: 3px;
        margin-left: 6px;
    }

    #news {
        grid-column: 2/4;
        grid-row: 3;
        margin-bottom: 2px;
        margin-top: 3px;
        margin-left: 6px;
    }
   
    #spotlights {
        display: block;
        grid-column: 4/5;
        grid-row: 1/4;
    }

    #spotlights div {
        height: 30%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    #spotlights div:nth-of-type(3) {
        display: block;
    }

    #join {
        display: block;
        grid-column: 1/2;
        grid-row: 3;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }
}