@media screen and (min-width: 800px) {
    hr{
        display:block;
    }
    header{
        width: 30%;
        margin: 0 auto;
        display:inline-block;
        padding:10px;
    }
    img.logo{
        max-width:90%;
    }
    nav{
        width: calc(70% - 40px);
        margin: 0 auto;
        border:none;
        text-align: right;
        display:inline-block;
        padding:10px;
        position: relative;
    }
    nav .hamburger{
        display:none;
    }
    nav ul{
        display:inline-block;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    .menuItem{
        display: inline-block;
        width: auto;
    }
    main .banner{
        aspect-ratio: 20/9;
        border-bottom:1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    main .cards.weather .card{
        width: 100%;
        max-width: 100%;
    }
    footer{
        padding-top:30px;
    }
    footer .ftop{
        border-top: 3px solid #F1520E;
    }
    footer .ftop > div{
        border: none !important;
    }
    footer .fbottom{
        margin-top:10px;
        padding: 15px;
        padding-bottom:5px;
        width:100%;
        border-top: 3px solid #F1520E;
    }

    .sidebar {
        grid-template-columns: 0.8fr 1.8fr; 
        grid-template-areas: 
        "left right"; 
    }
    .galleryImage:hover img{
        transform: scale(1.1);
    }
    .blocks{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: auto;
        padding: 10px;
    }
    .hiddenForm{
        display: block;
    }
}

@media screen and (min-width: 1039px) and (max-width: 1371px) {
    /* make neat rows on medium sizes */
    .hiddenForm{
        display: none;
    }
}