html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    font-family: Gugi, sans-serif;
    background-color: #04395E;
  }
  
  img {
    max-width: 100%;
  }
  
  
  header {
    padding: 1.3rem 2%;
    background-color: #DAB785;
    position: relative;
  }
  
  header img {
    float: left;
    margin-right: 10px;
    width: 70px;
  }
  
  header h1 {
    font-size: 1.3rem;
    margin: 0;
  }
  
  header h2 {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 100;
  }
  
  #menuBtn {
    width: 30px;
    float: right;
    padding: 5px 0;
    cursor: pointer;
  }
  
  #menuBtn span {
    display: block;
    background-color: #D5896F;
    height: 5px;
    margin: 3px;
  }
  
  #menu {
    max-height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background-color: #031D44;
  }
  
  #menu ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #menu ul li {
    flex: 1 1 auto;
  }
  
  #menu ul li a {
    display: block;
    color: #70A288;
    padding: 0.5rem 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
  }
  
  #menu ul li:hover {
    background-color: #04395E;
  }
  
  #menu ul li.active {
    background-color: #DAB785;
  }
  
  #menu.show-menu {
    opacity: 1;
    max-height: 500px; 
    transition: all 0.3s 0.03s ease-in-out;
  }
  
  #menu.show-menu ul {
    visibility: visible;
  }
  
  main {
    padding: 1rem 2%;
    background-color: #D5896F;
  }
  
  main h1 {
    font-size: 1.5rem;
  }
  
  main h2 {
    font-size: 1.2rem;
  }
  
  section:not(#contact) {
    margin-top: 2rem;
  }
  
  #summary > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
  
  .forecast-box {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
  }
  
  .forecast-item {
    width: 50px;
    height: 50px;
    background-color: #031D44;
  }
  
  #article {
    border: 1px solid #70A288;
    border-radius: 4px;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
  #article img {
    min-width: 100%;
  }
  
  footer {
    background-color: #04395E;
    padding-top: 1rem;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 5%;
  }
  
  #contact a {
    color: #000000;
  }
  
  #contact p {
    margin: 10px 0;
  }
  
  footer div img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  footer ul.social {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  footer > p {
    justify-content: center;
    margin-top: 30px;
    background-color: #DAB785;
    padding: 2%;
    color: #D5896F;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-align: center;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }