*{
    box-sizing: border-box;
    font-family: 'Kalam', sans-serif;
    text-align: center;
}
body{
    background-color:  #96ACB7;
    min-width: 350px;
    margin-bottom: 50px;
}
hr{
    border-top: 3px solid #D4E4BC;
    width: 100%;
    display:none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
.viewport {
    background-color: #36558F;
    width: 90%;
    min-height: 75%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Kalim', sans-serif;
    font-weight: 400;
    border-top: 3px solid #D4E4BC;
    position: relative;
    padding-top: 20px;
}
header{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    vertical-align: middle;
}
.logo{
    max-width:90%;
}
nav{
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    top: 0;
    background-color: #D4E4BC;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    align-items: center;
    z-index: 1;
    vertical-align: middle;
}
nav .hamburger{
    display:inline-grid;
}
nav .hamburger img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.menuItem{
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid transparent;
}
.menuItem:hover{
    border-bottom: 3px solid #96ACB7;
}
.responsive ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #96ACB7;
    z-index: 1;
    border-bottom: 3px solid #96ACB7;
}
.responsive .menuItem{
    display: block;
    padding:5px;
}
.button{
    background-color: #D4E4BC;
    border-radius: 5px;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    width: 50px;
}
.button a{
    color: #fff;
    text-decoration: none;
}
.button:hover{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    padding: 10px;
    color: white;
}
div.cardContent{
    padding-left: 50px;
    width: fit-content;
}
div.card{
    padding-left: 50px;
    padding-bottom: 50px;
    color: white;
}
.social{
    display: grid;
}    
.social-logo{
        width: 50px;
}        
main .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
}
main .cards .card{
    width: 90%;
    max-width: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}
main .cards .card img:not(.weatherIcon){
    width: 85%;
    border-radius: 5px;
    border-bottom:1px solid white;
}
.inline{
    display:inline-block;
    vertical-align: middle;
}
main .cards .card .cardContent{
    padding: 10px;
}
main .cards .card p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}
main .textContent{
    width: 100%;
}
footer{
    width: 100%;
    background-color: #36558F;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}
footer .ftop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .ftop .ftopLeft{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    border-bottom: 3px solid #D4E4BC;
}
footer .ftop .ftopRight{
    width: 100%;
    max-width: 400px;
    margin: 10px;
    border-bottom: 3px solid #D4E4BC;
}
footer .ftop .ftopRight p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}
footer .fbottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer .fbottom span:not(:first-child){
    border-left: 3px solid white;
}
footer .fbottom span{
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    padding:0 5px;

}
input{
    padding: 10px 30px;
    margin: 10px;
    font-size: 1em;
    border-radius: 5px;
    display: block;
    color: black;
    width: calc(100% - 20px);
}

input[type=submit]{
    border: 2px solid #00bfff;
    display: inline-block;
    background-color: #D4E4BC;
    color: black;
}
input[type=radio]{
    display: inline-block;
    margin: 10px 0;
    width: 20px;
}

label{
    display: block;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: white;
}

textarea{
    margin: 10px;
    height: 296px;
    width: calc(100% - 20px);
    display: block;
    font-size: 1em;
    border-radius: 5px;
    color: black;
    resize: none;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}
.hiddenForm{
    display: none;
}

.hiddenForm .title{
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.buttonframe{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .hamburger{
    display:inline-grid;
}
nav .hamburger img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}
nav{
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    top: 0;
    align-items: center;
    z-index: 1;
    vertical-align: middle;
}
img {
    width: 500px;
}
#weather-icon {
width: 50px;
}
.responsive ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}